* {
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: #88BFAB;
}

.dados {

}

.nome {
    padding: 10px 0 0 0;
}

.nome input {
    width: 400px;
}

.horario {
    padding: 10px 0 0 0;
}

.horario input {
    width: 400px;
}

.endereco {
    padding: 10px 0 0 0;
}

.ingresso {
    padding: 10px 0 0 0;
}

.botao {
    margin: 10px 0 0 10px;
    background-color: #F2A0AF;
}

select {
    appearance: none;
    background-color: #F2ECE4;
}

select option {
    appearance: none;
    background-color: #F2ECE4;
}

input {
    background-color: #F2A0AF;
}
